.singleCommentContainer {
  margin: 1rem;
}

.singleCommentDetails {
  display: flex;
  justify-content: space-between;
}

.commentButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.commentButton {
  margin: 0.2rem;
}
