.postDetailsContainer{
    width: 91%;
    margin: 0 auto
}

.postDetailsHeader{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.postDetailsYoutubeLink{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.postDetailsYoutubeLink{
    display: flex;
    justify-content: space-evenly;
}

.timestampInput{
    display: flex;
}