.postDetailsContainer{
    width: 91%;
    margin: 0 auto
}

.postDetailsHeader{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.postDetailsYoutubeLink{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.postDetailsYoutubeLink{
    display: flex;
    justify-content: space-evenly;
}

.timestampInput{
    display: flex;
}

.postFooter{
    background-color: darkslategray;
    color: floralwhite;
    margin-top: 2rem;
    padding: 1rem 0 2rem;
    text-align: center;
}
